<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>닉네임</th>
                <th>이메일</th>
                <th>핸드폰번호</th>
                <th>사진</th>
                <th>소개</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.nickName}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.phoneNumber}"></td>
                <td th:text="${user.userImage}"></td>
                <td th:text="${user.introduction}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>